@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --themeColor: #492471;
  --themeColor2: #8a61eb;
  --themeColor3: #c0aeff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .bg-blue {
    background-color: var(--themeColor2);
  }
  .text-blue {
    color: var(--themeColor2);
  }
  .text-darkblue {
    color: var(--themeColor);
  }
  .bg-darkblue {
    background-color: var(--themeColor);
  }
  .bg-lightblue {
    background-color: var(--themeColor3);
  }
  .border-darkblue {
    border-color: var(--themeColor);
  }
  .border-blue {
    border-color: var(--themeColor2);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
